html {
    font-size: 10px;
    color: $primary-color;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
}

h1 {
    color: $secondary-color;
}

* {
    box-sizing: border-box;
}


.user-logged-in {
    padding-top: 97px;
}

.limited-content {
    max-width: $md-container;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    outline: none;
}

/*** Styles added to fix the issue with zoom in on iphone ***/
/*** By setting the font-size of the input field to a font-size of 16px (or larger),
     we prevent the browser from zooming in on focus. ***/
/*** Note that we use the device aspect ratio to set the font size of 16px only
     for devices which have the specified device-aspect-ratio.. ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}
