/** Cookies popup **/
div#sliding-popup {
  background: $color-01;
}
.eu-cookie-compliance-banner {
  .popup-content {
    align-items: center;
    justify-content: space-between;

    @include below(md) {
      max-width: 95%;
    }

    #popup-text {
      margin: 15px 0;

      p,
      .find-more-button {
        font-family: $primary-font;
        color: $color-03;
      }
    }

    #popup-buttons {
      margin: 15px 0;
      text-align: center;

      .agree-button,
      .decline-button {
        margin-top: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 20px;
        padding: 14px 30px 12px;
        border: none;
        color: $color-04;
        font-family: $primary-font;
      }

      .agree-button {
        background-color: $secondary-color;
        color: $color-04;
        transition: all 0.8s;

        &:hover {
          background-color: $secondary-color-hover;
        }
      }

      .decline-button {
        background-color: $secondary-color;
        color: $primary-color;
        transition: all 0.8s;

        &:hover {
          background-color: $secondary-color-hover;
        }
      }
    }
  }
}
