body {
	margin: 0;
}

/*----------------------------------Header----------------------------------------*/
.bloc1 {
	height: 104px;
	/* width: 1440px; */
}

/*---------------------------- Logo Goutte D'Eau----------------------------------*/
.logo-goutte-eau {
	height: 116px;
	width: 136px;
	margin-left: 58px;
	margin-right: 1246px;
	margin-bottom: 2px;
	position: absolute;
}

/*----------------------------------Navigation------------------------------------*/
.navigation {
	height: 18px;
	width: 398px;
	margin-left: 70%;
	margin-right: 10px;
	margin-bottom: 22px;
	margin-top: 85px;
	position: absolute;
}

.fondation {
	height: 17px;
	width: 83px;
	color: #0E0E0E;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 17px;
	text-align: center;
	margin: 0 55px 0 0;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
}

.fondation:hover {
	color: #0E0E0E;
}

.missions {
	height: 18px;
	width: 72px;
	color: #0E0E0E;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	margin: 0 55px 0 0;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
}

.missions:hover {
	color: #0E0E0E;
}

.contact {
	height: 18px;
	width: 71px;
	color: #0E0E0E;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	margin: 0 55px 0 0;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
}

.contact:hover {
	color: #0E0E0E;
}

@media (max-width: 1300px){
	.navigation{
		margin-left: 50%;
	}
}

@media (max-width: 792px){
	.navigation{
		margin-left: 20%;
	}

	.logo-goutte-eau{
		margin-left: 0;
	}
}

/*----------------------------------Accueil---------------------------------------*/


.bloc2{
    background-image: url("images/Bitmap.jpg");
    height: 700px;
    background-repeat: round;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px;

}

.titre-association{
	color: #FFFFFF;
	font-family: Montserrat, sans-serif;
	font-size: 63px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 61px;
	position: absolute;
}

.sous-titre-association {
	height: 30px;
	color: #FFFFFF;
	font-family: Montserrat, sans-serif;
	font-size: 27px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 33px;
	position:absolute;
}

.entretien {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.bouton-entretien{
    background-color: #35BEE6;
    border-radius: 37px;
    padding: 27px 50px 27px 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
}

@media (max-width: 992px){
	.titre-association{
		width: auto;
		text-align: center;
		height: 20px;
		font-size: 50px;
	}

	.sous-titre-association{
		margin-top: 140px;
		text-align: center;
		font-size: 20px;
	}
}

/*----------------------------------Evènements------------------------------------*/
.bloc3{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.evenements {
	font-size: 24px;
	color: #35BEE6;
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	letter-spacing: 0;
	line-height: 29px;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.images-evenements{
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------Images/Evènements-------------------------------*/

.contenant {
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.image{
    margin: 0 15px;
}

.texte_centrer {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}

@media (max-width: 992px){
	.texte_centrer{
		font-size: 20px;
	}
}

/*----------------------------------Actualités------------------------------------*/

.bloc4{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actualites {
	font-size: 24px;
	color: #EB4607;
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	letter-spacing: 0;
	line-height: 29px;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
}

/*----------------------------------Images choco----------------------------------*/

.tablette_choco {
    background-image: url("images/Luxe_Fleece_Home_Desktop.jpg");
    height: 510px;
    background-repeat: round;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
    opacity: 1;
}


.titre-choco{
	height: 20px;
	/* width: 900px; */
	color: #FFFFFF;
	font-family: Montserrat, sans-serif;
	font-size: 63px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 61px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.sous-titre-choco {
	height: 30px;
	color: #FFFFFF;
	font-family: Montserrat, sans-serif;
	font-size: 55px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 33px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px){
	.titre-choco{
		font-size: 33px;
	}

	.sous-titre-choco{
		font-size: 25px;
	}
}

/*----------------------------------Réseaux Sociaux-------------------------------*/

.bloc5{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sociaux {
	font-size: 24px;
	color: #35BEE6;
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	letter-spacing: 0;
	line-height: 29px;
	text-transform: uppercase;
	padding-top: 60px;
	padding-bottom: 40px;
}

/*----------------------------------Logo Réseau Sociaux---------------------------*/
.logos-reseaux-sociaux{
    margin: auto;
    display: flex;
    text-align: center;
}

.img-left{
   	left: 50px;
}

.img-right{
    margin-left: 100px;
    margin-bottom: 50px;
}

.description-img{
    width: 180px;
    color: #0E0E0E;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 600px;
    letter-spacing: 0;
    line-height: 20px;
}

/*-------------------------------Nous contacter-----------------------------------*/

section, form {
	background-color: #EDEDED;
}

.formulaire {
	background-color: #EDEDED;
}

.bloc6{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacter {
	font-size: 24px;
	color: #0E0E0E;
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	letter-spacing: 0;
	line-height: 29px;
	text-transform: uppercase;
	padding-top: 60px;
	padding-bottom: 40px;
}

.form-contact{
    display: flex;
    align-items: center;   
}

.labels{
    display: block;
    text-align: left;
    font-style: italic;
	height: 20px;
	color: #0E0E0E;
	font-family: Montserrat, sans-serif;
	font-size: 17px;
	letter-spacing: 0;
	line-height: 20px;
	margin-right: 25px;
}

.inputs{
    padding: 10px 30px;
    margin-top: 9px;
    border-radius: 5px;
    width: 322px;
    height: 53px;
    border: none;
    background-color: #FFFFFF;
    margin-right: 25px;
    margin-bottom: 50px;
}

.bouton-envoyer{
    color: #FFFFFF;
    background-color: #35BEE6;
    border: none;
    cursor: pointer;
    border-radius: 26.5px;
    height: 53px;
  	width: 205px;
}

.envoyer {
 	color: #FFFFFF;
  	font-family: Montserrat, sans-serif;
  	font-size: 17px;
  	font-weight: bold;
  	letter-spacing: 0;
  	line-height: 20px;
  	text-align: center;
}

@media (max-width: 992px){
	.form-contact{
		display: block;
	}
}

/*----------------------------------Footer----------------------------------------*/

footer {
	height: 50px;
}

.liens-footer{
    height: 18px;
 	width: 505px;
  	color: #989898;
  	font-family: Montserrat, sans-serif;
  	font-size: 15px;
  	font-weight: 500;
  	letter-spacing: 0;
  	line-height: 18px;
  	text-align: center;
  	text-decoration: none;
  	text-transform: uppercase;
}

@media (max-width: 992px){

	.bouton-envoyer{
		margin-bottom: 50px;
	}
}
