<div class="page--content">
    <header>
        {{ page.primary_menu }}
    </header>
    <div class="main-wrapper">
        {% if page.top %}
        <section class="main--top">
            {{ page.top }}
        </section>
        {% endif %}

        {% if page.highlighted %}
        <section class="main--highlighted">
            {{ page.highlighted }}
        </section>
        {% endif %}

        <section class="main-content">
            {{ page.content }}
        </section>

    </div>
    <section class="bottom">
        {{ page.bottom }}

        <footer>
            <div class="footer-container">
                {{ page.footer }}
            </div>
        </footer>
    </section>
</div>
