<div class="page--content">
  {% if page.top %}
    <header class="page--header">
      {{ page.top }}
    </header>
  {% endif %}
  <div class="main-wrapper">
  ok
    {{ dump(page) }}
  </div>
  <footer class="page--footer">
    {{ page.footer }}
  </footer>
</div>