<div id="maintenance-page" class="administrative-pages">
    <div>
        <h1>On prépare le terrain !</h1>
        <h3>Le site est actuellement en maintenance, revenez-nous voir dans quelques minutes !</h3>
        <a href="/"><button>Retour vers la page d'accueil</button></a>
    </div>
</div>