// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

$primary-font: "Open Sans", sans-serif;

// Colors
$primary-color: #4a4a4a;
$secondary-color: #ff7200;
$secondary-color-hover: #f44f1d;
$shadow-color: #e5e5e5;
$available-color: #55BA83;

$color-01: #000000;
$color-02: #9b9b9b;
$color-03: #d8d8d8;
$color-04: #ffffff;
$color-05: #e0e0e0;
$color-06: #606060;
$color-07: #2c2c2c;
$color-08: #626262;
$color-09: #847e7e;
$color-10: #ececec;
$color-11: #f7f7f7;
$border-color: #d9d8d8;

// Media Queries
$breakpoints: (
xs: 414px,
sm: 768px,
md: 992px,
lg: 1200px,
xl: 1280px
);

// Default container width
$lg-container: 1440px;
$md-container: 1180px;
